table.charge_summary_table {
	tr td {
		padding: 2px;
		border: none;
	}

	td .status_tag_label {
		min-width: 56px;
		*width: 56px;
		background-color: #777;
		display: block;
		text-align: center;
		padding-left: 6px;
		padding-right: 6px;
	}
}

.triple {
	width:350px;
	overflow:hidden;
}
.triple li {
	float:left;
	display:inline;
	width:30%;
}

span.inventory_ref_no {
    text-align: center;
}
