.DS*
._*
.swp
.swo
*.swo
*.swp
.#*
.*~
*~
Thumbnail.db
.App*
.vscode
last_mail.txt
Thumbs.db
*.log
*.phar
customized.json
setting.db
*.deb
/sites/*/labs/*/logs/*
/sites/*/labs/*/private/*
!/sites/*/labs/*/private/css
!/sites/*/labs/*/private/js
/sites/*/labs/*/support/*
public/clients
public/cache
/cli/transient/
vendor/
composer.lock
.idea
