<div style="margin-left:25px;font-weight:bold;">订单管理</div>
<ul>
	<li>提交总订单数为<a href="http://./!orders/index">3</a>.</li><li><a href="http://./!orders/index?status=3">2</a>个货品已到货.</li><li><a href="http://./!inventory/index">1</a>个货品已经加入库存.</li></ul><div style="margin-left:25px;font-weight:bold;">存货管理</div>
<ul>
	<li>共有2个成员使用库存中的存货.</li><li>产生2条领用记录.</li><li><a href="http://./!inventory/index">10</a>个货品已归还.</li><li><a href="http://./!inventory/index">1</a>个货品库存紧张.</li></ul><div style="margin-left:25px;font-weight:bold;">经费汇总</div>
<ul>
	<li>经费<a href="http://./!grants/grant/index.1">项目1</a>，剩余金额: ¥200.00.</li>
<li>经费<a href="http://./!grants/grant/index.2">项目2</a>，剩余金额: ¥400.00.</li>
</ul>