div.autocomplete div.token{
	margin:3px;
}

div.special {
	border: none;
	background-color: #FFF;
	padding: 2px 4px;

	div.rest {
		font-size: 14px;
		text-align: right;
		padding: 5px;
        margin-right: 5px;
	}
}

ul.autocomplete {
	position: absolute;
	display:block;
	clear:both;
	overflow: hidden;
	z-index:10000;
	background-color: #fff;
	margin: 0;
	padding: 0;
	clear:both;
	list-style: none;
	color: #666;
    box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #E5E5E5;
    border-top: none;
    border-radius: 3px;
    filter: progid:DXImageTransform.Microsoft.Shadow (Color=#000000, Direction=135, Strength=2);
    
    table.mini_form {
        td {
            padding: 0;
            height: 32px;
            line-height: 32px;

            img.icon_user, img.icon_lab {
                vertical-align: middle;
            }

            div.description {
                font-size: 14px;
                height: 12px;
            }

            .name {
                display: inline-block;
                padding-right: 30px;
            }

        }
    }

	li div.empty {
		margin: 5px;
	}

	div.token {
		height: 30px;
		line-height: 30px;
        .status_tag {
            vertical-align: unset;
        }
	}

	li div.rest {
		font-size: 14px;
		text-align: left;
        padding: 5px;
        padding-left: 10px;
        color:red;
        margin-left: -10px;
	}

	li.special {
		border: none;
		background-color: #e7e7e7;
	}

	li {
		display: block;
		margin: 0;
		padding: 0;
		width: 100%;
		cursor: default;
        padding-left: 10px;
        
		span.label {
			color: #000;
		}

		.description {
			font-size:11px;
		}

		span.em{
			font-weight:bold;
			color:#000;
		}

		span.tag {
			background-color: #999;
			color:#fff;
			padding: 0 4px;
			display: inline-block;
			text-align: center;
		}

		span.source {
			border-radius: 2px;
			padding: 2px 4px;
			background-color: #7497E6;
			color:#fff;
		}

	}

	li.active {
		background-color: var(--basiccolor);
        color: #FFF;
        
        * {
            color: #FFF;
        }

		.description {
			color: #ccc;
		}

		span.em{
			color:rgb(61, 20, 20);
		}

		span.label {
			color: #fff;
		}

		span.tag {
			background-color: #7498E0;
		}

		span.source {
			border-radius: 2px;
			padding: 2px 4px;
			background-color: #fff;
			color:#7497E6;
        }
        
	}
}

ul.token_box {
	padding: 2px;
	color: #000;
}

ul.token_box li{
	float:left;
	margin:0;
	padding:0;
	width:auto;
	white-space:nowrap;
	border: none;
}

ul.token_box li.active {
	border: none;
	background-color: #fff;
	color: #000;
}


ul.token_box li {

	div.token {
		position:relative;
		display:block;
		float:left;
		margin:0 1px 1px 0;
		height: 17px;
		*height: 18px;
		*margin: 1px;
		background-color: #eff2f7;
		border: 1px solid #ccd5e4;
		white-space: nowrap;
		cursor: default;

		strong {
			display: inline-block;
			font-weight:normal;
			line-height: 16px;
			height: 16px;
			padding: 0 2px;
		}

		&:hover
		{
			background-color: #d8dfea;
			border-color: #ccd5e4;
		}

	}

	&.active {
		background-color: #36c;
		color: #EEE;

		div.token {
			color:#fff;
			background-color: #5670a6;
			border-color: #3b5998;
		}

	}

}

.star {
	float: left;
	display: inline-block;
	background-image: url('!vendor/images/star.png');
	background-repeat: no-repeat;
	height: 13px;
	line-height: 13px;
	width: 14px;
	margin: 0px;
	padding: 0px;
}

.star_on {
	background-position: 0px -13px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	ul.token_box {
		div.token {
			height: 18px;
		}

	}
}

.autocompleting{
	background:url('images/loading_black.gif) no-repeat right center ;
}
