.dropdown {display: none;}

.dropdown_container {
	display:inline-block;
	border:1px solid #E5E5E5;
    border-radius: 3px;
	color: #333;
    height: 28px;
    line-height: 28px;
	width: 278px;
	min-width:35px;
	padding:0 10px;
	cursor: pointer;
	/* background: #fff url('images/icons/dropdown.png') no-repeat right center; */
	/* _background-image: url('images/icons/dropdown.gif'); */
	text-align: left;
	font-weight: normal;

    span {
        float: right;
        display: inline-block;
        line-height: 30px;
    }
}

.dropdown_container.readonly {
	background-color: rgba(231, 231, 231, 0.2);
	color: #999;
}

.dropdown_text {
	display:inline-block;
	padding: 0;
	margin:0;
	height: 15px;
	line-height: 15px;
	white-space:nowrap;
    overflow: hidden;
    margin-top: 7px;
    /* float: left; */
}

.dropdown_menu {
	position:absolute;
	display:block;
	_width: 0;
	text-align: left;
	background-color: #fff;
	*border:1px solid #ccc;
	border:1px solid #ccc\9;
	z-index: 1000;
    border: 1px solid #E5E5E5;
	box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
	/* margin-top: -1px\9; */
	/* margin-left: -1px\9; */
	filter: progid:DXImageTransform.Microsoft.Shadow (Color=#000000, Direction=135, Strength=2);
	*zoom: 1;
	/* zoom: 1\9; */
}

.dropdown_group {
	display:block;
	list-style:none;
	margin: 0;
	padding: 0;
	*zoom:1;
	zoom:1\9;
}

.dropdown_group .label {
	padding: 2px 4px;
	font-weight: bold;
	display:block;
	*zoom: 1;
	zoom:1\9;
	white-space:nowrap;
}

.dropdown_menu a.dropdown_item {
    height: 30px;
    color: #333;
    line-height: 30px;
    padding: 0 10px;
	float: none;
	display: block;
	width: auto;
	height: auto;
	margin: 0;
	/* background-image: none; */
	/* text-decoration: none; */
    overflow: hidden;
    text-overflow: ellipsis;
	white-space:nowrap;
}

.dropdown_menu a.dropdown_item:hover,
.dropdown_menu a.dropdown_item_hover {
	filter: none;
	/* background-color: var(--basiccolor); */
	color: var(--basiccolor);
	text-decoration: none;
}

.dropdown_group a.dropdown_item {
	padding-left: 12px;
}

.dropdown_special .dropdown_container{
	width: 420px;
}
