div.list {

    /*  div.row {*/
    display: flex;
 /*   margin-bottom: 20px;*/
    flex-wrap: wrap;
    div.item {
        width: 50%;
        margin-bottom:20px;
        &:nth-child(2n-1) {
            div.el {
                margin-right: 10px;
            }
        }
        &:nth-child(2n) {
            div.el {
                margin-left: 10px;
            }
        }
        div.el {

            border: 1px solid #e5e5e5;
            min-height: 100px;
            border-radius: 3px;
            padding: 12px 15px 10px;

        }

        div.title {
            span.strong{
                font-size:15px;
                a:hover{
                    color: var(--basiccolor);
                }
            }
            span.menu {
                cursor: pointer;
                font-size: 20px;
                color: gray;
            }

        }

        div.menu_container {
            position: relative;
            div.menu_content {
                min-height: 10px;
                background: #fff;
                position: absolute;
                top: -25px;
                right: -15px;
                a {
                    font-size: 14px;
                    font-weight: normal;
                    border: 1px solid #e5e5e5;
                    border-radius: 3px;
                    display: inline-block;
                    cursor: pointer;
                    padding: 7px 10px 7px 10px;
                    color: #666;
                    margin-right: 10px;
                    &:hover {
                        background: #e5e5e5;
                    }
                }
            }
        }
        div.content {
            color: #666;
            ul {
                display: inline-block;
                margin-top: 2px;
                margin-bottom: 5px;
                li {
                    float: left;
                    margin-right: 20px;
                }
            }
        }
    }

    /*  }*/

}
