.sbmenu_categories {

	.category {
		margin:0px;
		margin-left: .5rem;
		background-color:#fff;
        padding: 30px 0;
        border-bottom: 1px solid #E5E5E5;

        &:last-child {border-bottom: none;}
        &:first-child {padding-top: 12px;}

		.category_title {
			color: #333;
            height: 30px;
            line-height: 30px;
		}

		.items {
            min-height: 102px;

            .moving_item {
                float: left;
                width: 100px;
                margin: 6px 26px;
                padding: 6px 6px;
                border: 1px solid #EEE;
                background-color: #FFF;
                border-radius: 10px;
                box-shadow: 1px 1px 2px #CCC;
            }

			.item {
				float: left;
                width: 100px;
                margin: 6px 26px;
                padding: 6px 6px;

				&.ui-sortable-helper {
					border:2px solid #ccc;
					margin: -2px;
					border-radius: 5px;
					box-shadow:#666 0 3px 5px;
				}

                .icon{
                    width: 48px; height: 48px; margin: 0 auto;
                    /* border-radius: 48px;overflow: hidden; */
                }

                /* &:first-child {padding-left: 0;} */
                /* &:last-child {padding-right: 0;} */

			}

			.item_placeholder {
				float: left;
				border:2px dashed #DDD;
				border-radius: 5px;
			}

		}

		&.ui-sortable-helper {
			border:2px solid #ccc;
			margin: -2px;
		}

	}

	.category_placeholder {
		border:2px dashed #DDD;
	}

}
