.topic_color_0 {
	color:#006000;
}
.topic_color_1 {
	color:#BF2256;
}
.topic_color_2 {
	color:#006000;
}
.topic_color_3 {
	color:#28509F;
}
.topic_color_4 {
	color:#AC640C;
}
.topic_color_5 {
	color:#009393;
}
.topic_color_7 {
	color:#ADADAD;
}
