body,  .normal {
	font-family: helvetica, arial, sans-serif;
	*font-family: tahoma;
	font-size: 12px;
	line-height: 1.5;
}

form, table, input, select, textarea, button, label {
	font-family: helvetica, arial, sans-serif;
	*font-family: tahoma;
	font-size: 12px;
}

a:focus {
	outline: 1px dotted invert;
}
