.topic_color_0 {
	color:#1F4922;
}
.topic_color_1 {
	color:#7F1639;
}
.topic_color_2 {
	color:#384B1A;
}
.topic_color_3 {
	color:#263450;
}
.topic_color_4 {
	color:#855A22;
}
.topic_color_5 {
	color:#274F4A;
}
.topic_color_7 {
	color:#7A7A7A;
}
