* {
    font-weight: bold;
    color: #333;
    font-size: 14px;
    font-family: helvetica, arial, sans-serif;
}

div.form {
    background-color: #fff;
    padding-top: 10px;
    padding-left: 30px;
}
